<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Draw It</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div id="container">
        <div id="header">

        </div>
        <div id="intro">
            <h1>Draw something!!</h1>
            <div id="nav">
                <p><a href="about.html"></a>About</p>
                <p><a href="creative.html">Be Creative</a></p>
            </div>

        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="../js/script.js"></script>
</body>

</html>
